<h2> Shoo Pre-Orders</h2>

<% @preorder.each do |preorder| %>
 <b>#<%=preorder.id%></b>:<%= preorder.pretty_name() %> </br>
Shoo: <%= preorder.style %>: <%preorder.size %>: <%=preorder.quantity %>
<hr>
<% end %>
