<h1> Order a Shoo </h1>

<form action="/preorder" method="post">
<label for="first_name">First name:</label>
<input type="text" name="first_name">
<label for="last_name">Last name:</label>
<input type="text" name="last_name">
<label for="address1">Address 1:</label>
<input type="text" name="address1">
<label for="street">Street:</label>
<input type="text" name="street">
<label for="city">City:</label>
<input type="text" name="city">
<label for="county">County:</label>
<input type="text" name="county">
<label for="postcode">Postcode:</label>
<input type="text" name="postcode">
<label for="style">Style:</label>
<input type="text" name="style">

<label for="size"<Shoo size:</label>
<select name="size">
<option><value="7">7</option>
<option><value="8">8</option>
<option><value="9">9</option>
<option><value="10">10</option>
</select>
<label for="quantity">Quantity:</label>
<input type="text" name="quantity">
<input type="submit" value="PreOrder from Shoos">
</form>
